table.table-simple {background-color:transparent;border-collapse:collapse;width:100%;}
table.table-simple td {text-align:center;border:1px solid lightgrey;padding:1px;}
table.table-simple th {background-color:darkslategrey; color:white; text-align:center;border:1px solid grey;padding:5px;}
table.table-simple td:first-child {width:20%;}
table.table-simple tr:hover {background-color:lightblue}
