table.table-simple {background-color:transparent;border-collapse:collapse;width:100%; }
table.table-simple td {text-align:center;padding:1px;}
table.table-simple tr {border-bottom:1px solid lightgrey; font-weight: lighter}
table.table-simple th {background-color:steelblue; color:white; text-align:center;padding:5px; font-weight: bold; }
table.table-simple td:first-child {width:20%;}
table.table-simple tr:hover {background-color:aliceblue}
